@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:wght@200&display=swap');

/* .fancy_frame {
    border: 2mm solid;
    border-color: black;
} */

html {
  border: 5px solid black;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 500px;
  margin: auto;
  text-align: center;
  line-height: unset;
}

.price {
  color: grey;
  font-size: 22px;
  padding-bottom: 10px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 60%;
  margin-bottom: 20px;
}
  .items-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-left: 5%;
  }
  select {
    width: 140px;
    -webkit-appearance: none;
    padding: 7px;
    background: antiquewhite;
    font-size: 1em;
  }
  button {
    -webkit-appearance: none;
    background-color: black;
    text-transform: uppercase;
    color: white;
    font-size: 0.9em;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  }
  select {
    cursor: pointer;
  }
  

.html, body {
    font-family: 'Montserrat', sans-serif !important;
}

h3 {
    text-align: center !important;
    padding-top: 20px;
    color: #D7D7D7;
}

h4 {
    border-bottom: 1px solid black;
}

.text {
    margin: 2%; 
    font-size: large;
    text-align: justify;
    padding: 25px;
    font-size: large;
    letter-spacing: 1px;
    line-height: 1.6;
    background-color: #FCFCFC;
}

.h2 {
    text-decoration: underline !important;
}